
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="~/css/stylesheet.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    @* 	<link href="~/css/bootstrap.min.css" rel="stylesheet" /> *@

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>
<body>
  

    <ul class="buttons-list">
        <li><a asp-controller="Workers" asp-action="Index"> יצירת/עידכון/מחיקת עובד</a></li>
        <li><a asp-controller="Admin" asp-action="Report"> דוח עובד</a></li>
        <li><a asp-controller="Admin" asp-action="GraphContent" > גרפים</a></li>
        <li><a asp-controller="Admin" asp-action="ManualShift" > הקלדת משמרת באופן ידני</a></li>
        <li><a asp-controller="Admin" asp-action="StatusWorkers"> מי עובד כרגע</a></li>

    </ul>


    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .nav {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .search {
            text-align: center;
        }
    </style>





</body>
</html>